/*
Syntaxe CSS

selector {
    vlastnost-1: hodnota;
    vlastnost-2: hodnota;
    vlastnost-3: hodnota;
}

*/

body {
    background-color: #ffd700;
}

h1 {
    color:#8c9621;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-wrapper {
/* Max Width = 80%; */

    max-width: 80%;
    margin: 0 auto; /* zarovnání na střed*/
    background-color: #e7f4ba;
    padding: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0%;
    gap: 10px;
}

nav a {
background-color: #8c9621;
color: aquamarine;
text-decoration: none;
padding: 5px;
border-radius: 5px;

}

nav a:hover{
    color: #e7f4ba;
    background-color: aqua;
}


.grid-container {
    display: grid;
   /* grid-template-columns: auto auto; */
   /* grid-template-columns:1fr 2fr;*/
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));; 
   gap: 10px;
}

.card {
    background-color: rgb(14, 170, 22);
    padding: 20px;
    border-radius: 10px;
}

.card img {
    width: 100%;  /* Obrázek se roztáhne na 100% šířky rodičovského prvku */
    height: auto; /* Výška se přizpůsobí šířce */
    object-fit: cover; /* Zajistí, že obrázek bude pokrývat celý prostor */
    border-radius: 10px; /* Zaoblené rohy jako u ostatních prvků */
}

